.formContainer {
	margin-top: 100px;
	padding-bottom: 30px;
	background: #fcfcfc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 18px 6px -8px #1a1a1a, 0 0 2px #0d0d0d;
	-moz-box-shadow: 0 18px 6px -8px #1a1a1a, 0 0 2px #0d0d0d;
	box-shadow: 0 18px 6px -8px #1a1a1a, 0 0 2px #0d0d0d;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin-heading {
	color: #2B2B2B;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 15pt;
}

.form-signin .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="text"] {
	margin-bottom: 3px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.darkBackground {
	background: #2b2b2b;
	color: white;
}

.background {
	color: #2b2b2b;
	background: white;
}

.title {
	font-size: 10.5pt;
	color: #2B2B2B;
	font-family: 'Libre Baskerville', serif;
}

.titleOrange {
	font-size: 10.5pt;
	color: #CF461D;
	font-weight: bold;
	font-family: 'Libre Baskerville', serif;
}

.subtitle {
	color: black;
	text-align: right;
	font-size: small;
	font-family: 'Libre Baskerville', serif;
}

label {
	font-weight: normal;
}

.right-aligned-label {
	text-align: right;
	padding-top: 4px;
	height: 27px
}

.form-group {
	padding-bottom: 30px;
}

.page-header {
	margin: 40px 0 26px;
}

.form-space {
	margin-bottom: 25px;
}

.signup-btn {
  color: #bbb;
  background-color: #222222;
  border-color: #1d1d1d;
}
.signup-btn:hover {
  background-color: #1d1d1d;
  border-color: #181818;
  color: #fff;
}

.form-signin-footer {
	margin-top: 15px;
	padding: 0px;
}

.form-signin-bottom {
	text-align: center;
}

.gradientBackground {
                color: #5b5a5a;
                background-color: #628599;
                background: -webkit-linear-gradient(#c6d8e2, #628599); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#c6d8e2, #628599); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#c6d8e2, #628599); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#c6d8e2, #628599); /* Standard syntax (must be last) */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#c6d8e2', endColorstr='#628599');/*For IE9*/ 
}

@import url("#{resource['css/fonts.css']}")
