/* phones */
@media only screen and (max-width: 767px) {
  .row .col {
    width: 100%;
    margin-left: 0px;
    float: left; }
  .row .col + .col:last-child {
    float: left; } }
/* portrait phones */
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .row .col {
    width: 100%;
    margin-left: 0px;
    float: left; }
  .row .col + .col:last-child {
    float: left; } }
