<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://java.sun.com/jsf/html" 
        xmlns:f="http://java.sun.com/jsf/core" 
        xmlns:c="http://java.sun.com/jsp/jstl/core"
        xmlns:p="http://primefaces.org/ui"
      >
<body>
<ui:composition>
<h:form prependId="false" styleClass="iseditable">
    
<p:outputPanel layout="block" styleClass="panel panel-default" style="margin-bottom: 0px;">
<p:outputPanel layout="block" styleClass="panel-heading">
<h4>Episode Pattern</h4><small>Here you can define the pattern of the label of an episodes.</small>
</p:outputPanel>
<p:outputPanel layout="block" styleClass="panel-body">	
    
    <h:outputLabel for="episodePattern" styleClass="dataElementField" value="Pattern" /><br />
    <small>The pattern you select here will determine how newly added (or edited) episode labels will be validated.<br />
    Changing this pattern will not change already saved episode labels, but if you want to change their labels, they need to validate against the currently selected pattern.</small>
    <p:outputPanel layout="block" styleClass="input-group">
    Select the pattern to be used:
        <h:selectOneMenu requiredMessage="#{msg.required}" required="#{empty param['disableValidation']}"
                        value="#{configurationBean.formParam['episode.pattern']}" id="episodePattern">
            <f:selectItems value="#{configurationBean.episodePatternPossibilities}" />
        </h:selectOneMenu>
        <h:message for="episodePattern" />
    </p:outputPanel>

</p:outputPanel>
</p:outputPanel>	

<h:panelGroup layout="block" styleClass="sticky_bar" id="stickyButtonBar">
<h:commandLink style="margin-right: 10px;" styleClass="btn btn-success" type="submit" id="save" action="#{configurationBean.saveConfiguration()}" >
<i class="fa fa-check fa-fw" /> #{msg.savebutton}
</h:commandLink>
<h:commandLink styleClass="btn btn-danger" immediate="true" id="reset" type="submit" action="#{configurationBean.cancel()}">
<i class="fa fa-undo fa-fw" /> #{msg.cancel}
</h:commandLink>
</h:panelGroup>

</h:form>
</ui:composition>
</body>
</html>
