<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://java.sun.com/jsf/html" 
        xmlns:f="http://java.sun.com/jsf/core" 
        xmlns:c="http://java.sun.com/jsp/jstl/core"
        xmlns:p="http://primefaces.org/ui"
      >
<body>
<ui:composition>
<h:form prependId="false" styleClass="iseditable">
    
<p:outputPanel layout="block" styleClass="panel panel-default">
<p:outputPanel layout="block" styleClass="panel-heading">
<h4>Import Interface Settings</h4><small>Here you can define the API key necessary to access the import interface. If you leave it empty, no apikey will be expected.</small>
</p:outputPanel>
<p:outputPanel layout="block" styleClass="panel-body">	
    
    <h:outputLabel for="apikey" styleClass="dataElementField hasTooltip" value="API key" />
    <p:outputPanel layout="block" styleClass="input-group">
        <h:inputText type="text" styleClass="form-control hasTooltip" size="0" value="#{configurationBean.formParam['importer.apikey']}" id="apikey" />
    </p:outputPanel>

</p:outputPanel>
</p:outputPanel>	


<p:commandButton style="margin-right: 10px;" styleClass="btn btn-success" value="#{msg.formbutton_save}" id="save" action="#{configurationBean.saveConfiguration()}" />

<p:commandButton type="reset" styleClass="btn btn-danger" value="#{msg.cancel}" id="reset" />

</h:form>
</ui:composition>
</body>
</html>
