<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://java.sun.com/jsf/html" 
        xmlns:f="http://java.sun.com/jsf/core" 
        xmlns:c="http://java.sun.com/jsp/jstl/core"
        xmlns:p="http://primefaces.org/ui"
      >
<body>
<ui:composition>

<h:form prependId="false" class="iseditable">
<h:panelGroup layout="block" styleClass="panel panel-default" style="margin-bottom: 0px;">
    <h:panelGroup layout="block" styleClass="panel-heading"><h4>Location Details</h4><small>A location is for example a center, a clinical department, or a medical practice</small></h:panelGroup>
    <h:panelGroup layout="block" styleClass="panel-body">
    <h:panelGroup layout="block" styleClass="fadein content">

<h:panelGroup layout="block" styleClass="row">
	<h:panelGroup layout="block" styleClass="col-md-2">
	   <h:outputLabel for="name" class="better">Name:</h:outputLabel>
	</h:panelGroup>
	<h:panelGroup layout="block" styleClass="col-md-4">
	   <h:inputText size="40" styleClass="#{!component.valid ? 'error':''}" required="true" requiredMessage="#{msg.required}" id="name" name="name" value="#{locationBean.dataObject['name']}"/>
	</h:panelGroup>
	<h:panelGroup layout="block" styleClass="col-md-4">
	   <h:message for="name" styleClass="error" />
	</h:panelGroup>
</h:panelGroup>

<h:panelGroup layout="block" styleClass="row">
    <h:panelGroup layout="block" styleClass="col-md-2">
        <h:outputLabel for="street" class="better">Street:</h:outputLabel>
    </h:panelGroup>
    <h:panelGroup layout="block" styleClass="col-md-4">
        <h:inputText size="40" styleClass="#{!component.valid ? 'error':''}" id="street" name="street" value="#{locationBean.dataObject['street']}"/>
    </h:panelGroup>
    <h:panelGroup layout="block" styleClass="col-md-4">
        <h:message for="street" styleClass="error" />
    </h:panelGroup>
</h:panelGroup>

<h:panelGroup layout="block" styleClass="row">
    <h:panelGroup layout="block" styleClass="col-md-2">
        <h:outputLabel for="plz" class="better">Postal code:</h:outputLabel>
    </h:panelGroup>
    <h:panelGroup layout="block" styleClass="col-md-4">
        <h:inputText styleClass="#{!component.valid ? 'error':''}" id="plz" name="plz" value="#{locationBean.dataObject['plz']}" />
    </h:panelGroup>
    <h:panelGroup layout="block" styleClass="col-md-4">
        <h:message for="plz" styleClass="error" />
    </h:panelGroup>
</h:panelGroup>

<h:panelGroup layout="block" styleClass="row">
    <h:panelGroup layout="block" styleClass="col-md-2">
        <h:outputLabel for="city" class="better">City:</h:outputLabel>
    </h:panelGroup>
    <h:panelGroup layout="block" styleClass="col-md-4">
        <h:inputText size="40" styleClass="#{!component.valid ? 'error':''}" id="city" name="city" value="#{locationBean.dataObject['city']}"/>
    </h:panelGroup>
    <h:panelGroup layout="block" styleClass="col-md-4">
        <h:message for="city" styleClass="error" />
    </h:panelGroup>
</h:panelGroup>


<h:panelGroup layout="block" styleClass="row">
    <h:panelGroup layout="block" styleClass="col-md-2">
        <h:outputLabel for="freetext" class="better">Contact Data:</h:outputLabel>
    </h:panelGroup>
    <h:panelGroup layout="block" styleClass="col-md-4">
        <h:inputTextarea styleClass="#{!component.valid ? 'error':''}" id="freetext" rows="8" name="freetext" value="#{locationBean.dataObject['freetext']}"/>
    </h:panelGroup>
    <h:panelGroup layout="block" styleClass="col-md-4">
        <h:message for="freetext" styleClass="error" />
    </h:panelGroup>
</h:panelGroup>



</h:panelGroup>
</h:panelGroup>
</h:panelGroup>

<h:panelGroup layout="block" styleClass="sticky_bar" id="stickyButtonBar">
<h:commandLink style="margin-right: 10px;" styleClass="btn btn-success" type="submit" id="save" action="#{locationBean.save}" >
<i class="fa fa-check fa-fw" /> #{msg.savebutton}
</h:commandLink>
<h:commandLink styleClass="btn btn-danger" immediate="true" id="cancel" type="submit" action="#{locationBean.goLocationList}">
<i class="fa fa-undo fa-fw" /> #{msg.cancel}
</h:commandLink>
</h:panelGroup>

</h:form>

</ui:composition>
</body>
</html>