<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:p="http://primefaces.org/ui" xmlns:mf="http://java.sun.com/jsf/composite/mdrfaces" xmlns:countries="http://osse.edc.samply.de/countries"><body><ui:composition>

<h:form prependId="false" styleClass="iseditable">
<p:outputPanel style="block" id="topFormPanel" styleClass="panel panel-default">

<p:outputPanel style="block" styleClass="panel-heading">
Report to the Catalogue of German Registries
<ui:include src="/components/formHeadPanelSymbol.xhtml" />
</p:outputPanel>

<p:outputPanel layout="block" styleClass="panel-body">

<!--  here comes your page content -->
<p><font style="font-size: 24px;"><span style="font-weight: bold;">Allgemeine Angaben</span></font><br /></p><hr />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:1:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__1__1']}" /><br />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:2:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__2__1']}" /><br />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:3:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__3__1']}" />


<p:outputPanel layout="block" styleClass="abschnitt ui-corner-all">
<h4>Ziel des Registers</h4>
<p:outputPanel layout="block" style="margin-top:15px;" styleClass="unterabschnitt ui-corner-all">

<div class="row">
<div class="col-lg-6">
<div class="checkbox">
<label title="Das Register wird für epidemiologische Zwecke geführt" style="padding-left: 30px;" class="hasTooltip">
<h:selectBooleanCheckbox style="left: 0; top: 3px;" id="urn__osse-ror__dataelement__4__1" value="#{rorviewer.entries['urn__osse-ror__dataelement__4__1']}" /> 
Epidemiologie
</label>
</div>
<ui:remove>
</ui:remove>
</div>
<div class="col-lg-6">
<div class="checkbox">
<label title="Das Register wird für die Mindestmengenforschung geführt" style="padding-left: 30px;" class="hasTooltip">
<h:selectBooleanCheckbox style="left: 0; top: 3px;" id="urn__osse-ror__dataelement__5__1" value="#{rorviewer.entries['urn__osse-ror__dataelement__5__1']}" /> 
Mindestmengenforschung
</label>
</div>
</div>
</div>

<div class="row">
<div class="col-lg-6">
<div class="checkbox">
<label title="Das Register wird für die ökonomische Evaluation geführt" style="padding-left: 30px;" class="hasTooltip">
<h:selectBooleanCheckbox style="left: 0; top: 3px;" id="urn__osse-ror__dataelement__6__1" value="#{rorviewer.entries['urn__osse-ror__dataelement__6__1']}" /> 
Ökonomische Evaluation
</label>
</div>
</div>
<div class="col-lg-6">
<div class="checkbox">
<label title="Das Register wird für die Qualitätssicherung geführt" style="padding-left: 30px;" class="hasTooltip">
<h:selectBooleanCheckbox style="left: 0; top: 3px;" id="urn__osse-ror__dataelement__7__1" value="#{rorviewer.entries['urn__osse-ror__dataelement__7__1']}" /> 
Qualitätssicherung
</label>
</div>
</div>
</div>

<div class="row">
<div class="col-lg-6">
<div class="checkbox">
<label title="Das Register wird zur Unterstützung der klinischen Forschung betrieben" style="padding-left: 30px;" class="hasTooltip">
<h:selectBooleanCheckbox style="left: 0; top: 3px;" id="urn__osse-ror__dataelement__8__1" value="#{rorviewer.entries['urn__osse-ror__dataelement__8__1']}" /> 
Unterstützung klinischer Forschung
</label>
</div>
</div>
<div class="col-lg-6">
<div class="checkbox">
<label title="Das Register wird für die Versorgungsplanung geführt" style="padding-left: 30px;" class="hasTooltip">
<h:selectBooleanCheckbox style="left: 0; top: 3px;" id="urn__osse-ror__dataelement__9__1" value="#{rorviewer.entries['urn__osse-ror__dataelement__9__1']}" /> 
Versorgungsplanung
</label>
</div>
</div>
</div>

<div class="row">
<div class="col-lg-6">
<div class="checkbox">
<label title="Das Register wird für die Versorgungsforschung geführt" style="padding-left: 30px;" class="hasTooltip">
<h:selectBooleanCheckbox style="left: 0; top: 3px;" id="urn__osse-ror__dataelement__54__1" value="#{rorviewer.entries['urn__osse-ror__dataelement__54__1']}" /> 
Versorgungsforschung
</label>
</div>
</div>
<div class="col-lg-6">
<div class="checkbox">
<label style="padding-left: 30px;" title="Das Register wird für die Wirksamkeitsforschung betrieben" class="hasTooltip">
<h:selectBooleanCheckbox style="left: 0; top: 3px;" id="urn__osse-ror__dataelement__10__1" value="#{rorviewer.entries['urn__osse-ror__dataelement__10__1']}" /> 
Wirksamkeitsforschung
</label>
</div>
</div>
</div>

</p:outputPanel>
</p:outputPanel>


<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:11:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__11__1']}" /><br />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:12:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__12__1']}" /><br />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:13:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__13__1']}" /><br />
<hr /><font style="font-size: 24px;"><span style="font-weight: bold;">Rekrutierung</span></font><hr />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:14:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__14__1']}" /><br />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:16:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__16__1']}" /><br />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:15:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__15__1']}" /><br />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:18:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__18__1']}" /><br />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:17:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__17__1']}" /><br />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:20:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__20__1']}" /><br />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:19:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__19__1']}" /><br />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:22:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__22__1']}" /><br />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:21:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__21__1']}" /><br />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:23:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__23__1']}" /><br />
<hr /><font style="font-size: 24px;"><span style="font-weight: bold;">Angaben zur Datenbasis</span></font><br /><hr />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:25:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__25__1']}" /><br />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:24:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__24__1']}" /><br />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:27:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__27__1']}" /><br />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:26:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__26__1']}" /><br />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:30:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__30__1']}" /><br />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:52:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__52__1']}" /><br />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:28:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__28__1']}" /><br />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:29:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__29__1']}" /><br />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:32:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__32__1']}" /><br />
<hr /><font style="font-size: 24px;"><span style="font-weight: bold;">Dienstleistungen für Externe</span></font><br /><hr />
<hr /><font style="font-size: 24px;"><span style="font-weight: bold;">Datensicherheit und Ethik</span></font><br /><hr />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:31:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__31__1']}" /><br />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:35:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__35__1']}" /><br />
<hr /><font style="font-size: 24px;"><span style="font-weight: bold;">Registerbetreiber</span></font><hr />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:33:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__33__1']}" /><br />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:34:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__34__1']}" /><br />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:39:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__39__1']}" /><br />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:40:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__40__1']}" /><br />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:36:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__36__1']}" /><br />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:37:2" value="#{rorviewer.entries['urn__osse-ror__dataelement__37__2']}" /><br />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:44:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__44__1']}" /><br />

<!-- LAND -->
<mf:mdrLabel mdrId="urn:osse-ror:dataelement:43:1" />
<h:selectOneMenu value="#{rorviewer.entries['urn__osse-ror__dataelement__43__1']}" styleClass="form-control mdrfaces-input">
    <f:selectItem itemLabel="" itemValue="" />
    <f:selectItems value="#{countries:getCountriesFortemplate()}" />
</h:selectOneMenu>
<br />
<ui:remove>
<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:43:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__43__1']}" /><br />
</ui:remove>


<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:42:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__42__1']}" /><br />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:41:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__41__1']}" /><br />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:48:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__48__1']}" /><br />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:47:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__47__1']}" /><br />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:46:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__46__1']}" /><br />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:45:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__45__1']}" /><br />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:50:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__50__1']}" /><br />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:53:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__53__1']}" /><br />
<hr /><font style="font-size: 24px;"><span style="font-weight: bold;">Angaben zur Biomaterialbank</span></font><br /><hr />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:49:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__49__1']}" /><br />

<mf:formMdrField required="false" styleClass="#{!component.valid ? 'error':''}" mdrId="urn:osse-ror:dataelement:51:1" value="#{rorviewer.entries['urn__osse-ror__dataelement__51__1']}" /><br />


<!-- end of own page content -->
</p:outputPanel>

<!--  you can put special stuff below the form here -->
</p:outputPanel>

<p:outputPanel layout="block" styleClass="sticky_bar" id="stickyButtonBar">
    <p:outputPanel layout="block" styleClass="actions">
        <p:commandButton ajax="false" type="submit"  value="#{msg.savebutton}" action="#{rorviewer.save}" />
    </p:outputPanel>
</p:outputPanel>

</h:form>
<h:outputScript library="js" name="scripts.js" />

</ui:composition>
</body>
</html>
