/* Global Styles */
@font-face {
font-family: 'Play';
font-style: normal;
font-weight: 400;
src: local('Play'), url(http://fonts.gstatic.com/s/play/v6/-SXnV4mZjf4oh1IBw13WZw.woff) format('woff');
}

body {
	margin-top: 85px !important;
	padding-top: 0px !important;
} 

#wrapper {
	padding-left: 0;
}

#page-wrapper {
	width: 100%;
	padding: 5px 15px;
}

/* Nav Messages */
.messages-dropdown .dropdown-menu .message-preview .avatar,.messages-dropdown .dropdown-menu .message-preview .name,.messages-dropdown .dropdown-menu .message-preview .message,.messages-dropdown .dropdown-menu .message-preview .time
	{
	display: block;
}

.messages-dropdown .dropdown-menu .message-preview .avatar {
	float: left;
	margin-right: 15px;
}

.messages-dropdown .dropdown-menu .message-preview .name {
	font-weight: bold;
	color: #40628B;
}

.messages-dropdown .dropdown-menu .message-preview .message {
	font-size: 12px;
	color: #194166;
}

.messages-dropdown .dropdown-menu .message-preview .time {
	font-size: 8.5pt;
	color: #616263;
}

.messages-dropdown .dropdown-menu .message-preview .msg-body {
	display: inline-block;
	line-height: 20px;
	white-space: normal;
	vertical-align: middle;
	max-width: 175px;
}

/* Nav Announcements */
.announcement-heading {
	font-size: 50px;
	margin: 0;
}

.announcement-text {
	margin: 0;
}

/* Table Headers */
table.tablesorter thead {
	cursor: pointer;
}

table.tablesorter thead tr th:hover {
	background-color: #f5f5f5;
}

/* Flot Chart Containers */
.flot-chart {
	display: block;
	height: 400px;
}

.flot-chart-content {
	width: 100%;
	height: 100%;
}

.navbar-brand {
    font-family: "Play",sans-serif;
}

/* Edit Below to Customize Widths > 768px */
@media ( min-width :768px) {
	/* Wrappers */
	#wrapper {
		padding-left: 225px;
	}
	#page-wrapper {
		padding: 15px 25px;
	}

	/* Side Nav */
	.side-nav {
		margin-left: -225px;
		left: 225px;
		width: 225px;
		position: fixed;
		top: 50px;
		height: 100%;
		border-radius: 0;
		border: none;
		background-color: #F1F1F1;
		overflow-y: auto;
		border-right: 1px solid #dfdfdf;
	}
	
	.side-nav>li.active>a {
		background: white !important;
		box-shadow: 0 0 3px rgba(0,0,0,.15) inset;
		-moz-box-shadow: 0 0 3px rgba(0,0,0,.15) inset;
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.15) inset;
		border-top-color: #dfdfdf;
		border-bottom-color: #dfdfdf;
		border-top: 1px solid #dfdfdf;
		border-bottom: 1px solid #dfdfdf;
		border-left: 3px solid #428bca;
	}

	/* Bootstrap Default Overrides - Customized Dropdowns for the Side Nav */
	.side-nav>li.dropdown>ul.dropdown-menu {
		position: relative;
		min-width: 225px;
		margin: 0;
		padding: 0;
		border: none;
		border-radius: 0;
		background-color: transparent;
		box-shadow: none;
		-webkit-box-shadow: none;
	}
	.side-nav>li.dropdown>ul.dropdown-menu>li>a {
		color: #7A7A7A;
		padding: 15px 15px 15px 25px;
	}
	.side-nav>li.dropdown>ul.dropdown-menu>li>a:hover,.side-nav>li.dropdown>ul.dropdown-menu>li>a.active,.side-nav>li.dropdown>ul.dropdown-menu>li>a:focus
		{
		background-color: #D1E6F3;
		color: #333333;
	}
	.side-nav>li>a {
		width: 225px;
	}
	.navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>li>a:focus
		{
		background-color: #080808;
	}

	/* Nav Messages */
	.messages-dropdown .dropdown-menu {
		min-width: 300px;
	}
	.messages-dropdown .dropdown-menu li a {
		white-space: normal;
	}
	.title {
		font-size: large;
		color: #2B2B2B;
		font-family: 'Libre Baskerville', serif;
	}
	.titleOrange {
		font-size: large;
		color: #CF461D;
		font-weight: bold;
		font-family: 'Libre Baskerville', serif;
	}
	.subtitle {
		color: black;
		text-align: right;
		font-size: small;
		font-family: 'Libre Baskerville', serif;
	}
}

.userLoginDropdown {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.form-register {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-register .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-register .input-group {
	margin-bottom: 10px;
}

.inbox-panel {
	margin-bottom: 0;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.inbox-panel .inbox-item {
	cursor: pointer;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}

.inbox-panel .inbox-item:hover {
	background: #f7f7f7;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}

.inbox-panel .inbox-item.selected {
	color: #ccc;
	background: #f1f5fc;
	border: 1px solid #e4ecf9;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}

.inbox-panel .inbox-item.selected:hover {
	background: #f1f5fc;
	color: #ccc;
}

.inbox-panel .inbox-item .starred {
	color: #ffc545;
}

.inbox-panel .inbox-item .not-starred:hover {
	color: #ffc545;
}

.inbox-panel .inbox-item .from {
	display: inline-block;
	width: 150px;
	text-overflow: ellipsis;
	overflow: hidden;
	vertical-align: middle;
	white-space: nowrap;
	font-weight: bold;
	margin-left: 10px;
	height: 19px;
}

.inbox-panel .inbox-item .detail {
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	vertical-align: middle;
	text-overflow: ellipsis;
	width: 50%;
	height: 19px;
}

@media ( max-width : 480px) {
	.inbox-panel .inbox-item .detail {
		width: 65%;
	}
}

.inbox-panel .inbox-item .attachment {
	margin-right: 15px;
}

.inbox-panel .panel-footer .pagination {
	margin: 2px 0 0;
}

.inbox-panel .panel-footer .pagination li a {
	padding: 0 10px;
	background: transparent;
	border: none;
}

.inbox-panel .panel-footer .pagination li a .large {
	font-size: 140%;
}

.inbox-action {
	font-weight: bold;
	background: #fff;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.inbox-action.active {
	background: #9ad268;
	color: #fff;
}

.inbox-action.active a {
	color: #fff;
}

.inbox-action.active a:hover,.inbox-action.active a:focus {
	background-color: #9ad268;
}

.inbox-action a {
	display: block;
	padding: 10px;
	color: #777;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}

.inbox-action a:hover,.inbox-action a:focus {
	text-decoration: none;
	background-color: #f2f2f2;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}

/* make navbar fixed on mobile and with no scroll */
@media ( max-width : 767px) {
	.navbar-fixed-top {
		position: relative;
		top: auto;
	}
	.navbar-collapse {
		max-height: none;
	}
	body {
		margin: 0;
	}
}

.navbar-brand {
	padding-top: 10px;
	padding-bottom: 0px;
	padding-left: 24px;
	vertical-align: middle;
}

@media ( min-width : 768px) {
	.navbar-center {
		float: left;
		margin-left: 200px;
	}
}

.btn-haha {
	color: #4F4F4F;
	background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0 0 #C4C4C4;
	border-color: #cccccc;
}

.btn-haha:hover,.btn-haha:focus,.btn-haha:active,.btn-haha.active,.open .dropdown-toggle.btn-haha
	{
	color: #333333;
	background-color: #ebebeb;
	border-color: #adadad;
}

.btn-haha:active,.btn-haha.active,.open .dropdown-toggle.btn-haha
	{
	background-image: none;
}

.btn-haha.disabled,.btn-haha[disabled],fieldset[disabled] .btn-haha,.btn-haha.disabled:hover,.btn-haha[disabled]:hover,fieldset[disabled] .btn-haha:hover,.btn-haha.disabled:focus,.btn-haha[disabled]:focus,fieldset[disabled] .btn-haha:focus,.btn-haha.disabled:active,.btn-haha[disabled]:active,fieldset[disabled] .btn-haha:active,.btn-haha.disabled.active,.btn-haha[disabled].active,fieldset[disabled] .btn-haha.active
	{
	background-color: #ffffff;
	border-color: #cccccc;
}

.readonlymode {
	disabled: disabled;
}

.ui-state-disabled {
	opacity: 1;
}

input[type=checkbox][disabled]{
	color:Black;
    font-weight:bold;
    border-width: 2px;
    border-color: Black;
}

.btn-group > .btn + .dropdown-toggle {
	border-left: 1px solid grey;
}

.breadcrumbsplitter:before {
	color: #000000;
    content: "";
    padding: 5px 5px 0;
    font-size: 20px;
    float: left;
}

.alert {
	margin-bottom: 0;
}

.leftFlag {
    left: -1px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 100px;
    z-index: 500;
}
.leftFlag button {
	width: 35px;
	overflow: hidden;
	padding: 5px 0;
	/*Transition*/
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
	opacity: 0.5;
}
.leftFlag .slideText {
	margin-left: 10px;
}
.leftFlag .leftFlagIcon {
	padding: 5px 10px;
}
.leftFlag button:hover, .leftFlag .open button{
	width: 200px;
	opacity: 1;
}
.leftFlag li {
	margin-bottom: 5px;
}

.rightFlag {
    right: -1px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 100px;
    z-index: 500;
}
.rightFlag button {
	width: 35px;
	overflow: hidden;
	padding: 5px 0;
	/*Transition*/
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}
.rightFlag .slideText {
	margin-right: 40px;
}
.rightFlag .rightFlagIcon {
	padding: 5px 10px;
}
.rightFlag button:hover, .rightFlag .open button {
	width: 200px;
}
.rightFlag li {
	margin-bottom: 5px;
}

.dropdown-menu > li.padded {
    clear: both;
    color: #333333;
    display: block;
    font-weight: normal;
    line-height: 1.42857;
    padding: 0px 10px;
    white-space: nowrap;
}

.editMode .outputMode {
	display: none;
}

.editMode .inputMode {
	display: block;
}

.outputMode {
	display: block;
}

.inputMode {
	display: none;
}
.nav-tabs {
	margin-bottom: 20px;
}
