<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core" >
<body>
    <ui:composition>
        <h:commandLink styleClass="btn btn-success" style="margin-right: 20px;" id="save" action="#{formviewer.save}" rendered="#{formviewer.formState == 'open'}">
        <i class="fa fa-check fa-fw" /> #{msg.formbutton_save} 
        </h:commandLink>
        <h:commandLink styleClass="btn btn-danger" value="" id="cancel" immediate="true"
                    actionListener="#{sessionBean.cancelPage()}" rendered="#{formviewer.formState == 'open'}">
                    <i class="fa fa-undo fa-fw" /> #{msg.cancel}
            <f:param name="disableValidation" value="true" />
        </h:commandLink>
    </ui:composition>
</body>
</html>