<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      >
<body>
<ui:composition>


<p:dialog header="Change Status" widgetVar="changeFormStatusDialog" appendTo="@(body)" closeOnEscape="true" modal="true">
<h:form>
<h:panelGroup layout="block" id="topFormPanel" styleClass="panel panel-default">
<h:panelGroup layout="block" styleClass="panel-body">

<h:panelGroup layout="block" styleClass="row">
<h:panelGroup layout="block" styleClass="col-md-12">
Currently the form is in the state: #{formviewer.form.formState} <br />
Select the state you want to change to, or press cancel.
</h:panelGroup>
</h:panelGroup>
<br />
<h:panelGroup layout="block" styleClass="row">
<h:panelGroup layout="block" styleClass="col-md-4">
<h:outputLabel for="username">New state:</h:outputLabel>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-8">
    <h:selectOneMenu value="#{formviewer.newStatus}" id="newStatus" name="newStatus">
          <f:selectItems value="#{formviewer.possibleNewStatus}"/>
    </h:selectOneMenu>    
</h:panelGroup>
</h:panelGroup>
<br />
<h:panelGroup layout="block" styleClass="row">
Optional comment:
</h:panelGroup>
<h:panelGroup layout="block" styleClass="row">
<h:inputTextarea rows="5" cols="80" value="#{formviewer.entries['statusChangeComment']}"></h:inputTextarea>
</h:panelGroup>
<p:commandButton style="margin-right: 10px" styleClass="btn btn-success" ajax="false" type="submit" value="Change Status" action="#{formviewer.changeToNewStatus()}" />
<p:commandButton styleClass="btn btn-danger" value="#{msg.cancel}" onclick="PF('changeFormStatusDialog').close()"/>

</h:panelGroup>
</h:panelGroup>
</h:form>
</p:dialog>

</ui:composition>
</body>
</html>