<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:p="http://primefaces.org/ui">
<body>
    <ui:composition>
    
    <p:overlayPanel id="commentPanel" for="commentBtn" hideEffect="fade" dynamic="true" style="width:600px">
        <p:dataTable var="comment" value="#{formviewer.formComments}" rows="5" paginator="true">
            <p:column headerText="#{ossemsg.formcomments_timestamp}" width="20%">
                <h:outputText value="#{comment.timestamp}">
                    <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" type="date" />
                </h:outputText>
            </p:column>
            <p:column headerText="#{ossemsg.formcomments_who}" width="20%">
                <h:outputText value="#{comment.userRealName}" />
            </p:column>
            <p:column headerText="#{ossemsg.formcomments_comment}" width="60%">
                <h:outputText value="#{comment.comment}" />
            </p:column>
        </p:dataTable>
    
    </p:overlayPanel>
    
    </ui:composition>
</body>
</html>