<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    >
<body>
    <ui:composition>
        <h:form prependId="false">
        <h:panelGroup layout="block" styleClass="float-right">
            <h:panelGroup layout="block" styleClass="col" id="search">
                <!-- 					<h:inputText placeholder="search" /> -->
<ui:fragment rendered="#{sessionBean.hasMultipleRoles()}">
<h:panelGroup style="color: #fff; font-weight: bold;">Role: </h:panelGroup>				
<h:selectOneMenu valueChangeListener="#{sessionBean.changeRoleAction}" onchange="submit()"
        styleClass="#{!component.valid ? 'error':''}" requiredMessage="#{msg.required}" required="true" value="#{sessionBean.selectedRole}" id="role" name="role">
        <f:selectItems value="#{sessionBean.roleList}"/>
</h:selectOneMenu>

</ui:fragment>
                
            </h:panelGroup>

            <!-- 	<h:link styleClass="col" href="#" id="help">?</h:link> -->

            <h:panelGroup layout="block" styleClass="dropdown">
            <h:outputLink value="#" styleClass="col dropdown-toggle"
                id="user" pt:data-toggle="dropdown" pt:aria-expanded="false"> 
                <h:panelGroup styleClass="fa fa-user" style="font-size: 30px;" aria-hidden="true"></h:panelGroup>
<c:choose>
    <c:when test="#{sessionBean.currentRole.isPatientRole()}">
                <h:panelGroup style="margin-left: 4px; float:right;">
                                            <h:panelGroup
                                                id="idatFirstNameProfileLink"
                                                pt:data-tempid="#{sessionBean.currentPatient.pseudonym}"
                                                pt:data-subject="vorname" />&#160;<h:panelGroup
                                                id="idatLastNameProfileLink"
                                                pt:data-tempid="#{sessionBean.currentPatient.pseudonym}"
                                                pt:data-subject="nachname" /> 
                    <b class="caret"></b> 
                </h:panelGroup>
    </c:when>
    <c:otherwise>
                <h:panelGroup style="margin-left: 4px; float:right;">
                    #{sessionBean.currentUser.userRealName}
                    <b class="caret"></b> 
                </h:panelGroup>
    </c:otherwise>
</c:choose>
                
                <!-- 					<h:panelGroup id="notification_count">2</h:panelGroup> -->
            </h:outputLink>

            
            <ul role="menu" class="dropdown-menu">
                <li><a href="profile.xhtml" style="font-weight: normal; text-decoration:none;">Edit Profile</a></li>
                <li class="divider"></li>
                <li><h:commandLink action="#{sessionBean.logout()}" style="font-weight: normal; text-decoration:none;"><i class="fa fa-sign-out"></i> Logout</h:commandLink>
 <!-- Invisible Button for JS to log out, LEAVE IT HERE! --> 
 <!-- 									<h:commandButton value="#{msg.logout} (#{sessionBean.currentUser.username})" id="logoutButtonVar" action="#{sessionBean.logout}" icon="ui-icon-extlink" ajax="false" style="display:none" /> -->
                </li>
            </ul>
            
            </h:panelGroup>
        </h:panelGroup>
        </h:form>
    </ui:composition>
</body>
</html>
