<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html">
<body>
    <ui:composition>

        <h:form>

            <h:panelGroup layout="block" styleClass="float-left">
                <h:panelGroup layout="block" styleClass="col" id="logo">
                        <h:graphicImage width="60" height="23" alt="OSSE" library="images" name="osse/osse_logo_white.svg" />
                        <h:panelGroup styleClass="osseLogoSideText" rendered="#{applicationBean.isBridgehead()}">Bridgehead</h:panelGroup>
                </h:panelGroup>
<ui:fragment rendered="#{sessionBean.currentRole.isAdminRole() or sessionBean.currentRole.isLocalAdminRole()}">
                <h:commandLink styleClass="col"
                    action="#{sessionBean.goStartPage()}" id="list_adminstuff">Administration
                </h:commandLink>
</ui:fragment>		
<ui:fragment rendered="#{!(sessionBean.currentRole.isAdminRole() or sessionBean.currentRole.isLocalAdminRole() or sessionBean.currentRole.isPatientRole())}">		
                <h:commandLink styleClass="col"
                    action="#{sessionBean.goStartPage()}" id="list_patients">List of patients
                </h:commandLink>
</ui:fragment>				
            </h:panelGroup>
        </h:form>

    </ui:composition>
</body>
</html>
