<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html  lang="#{sessionBean.language}"  
xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://java.sun.com/jsf/html" 
        xmlns:f="http://java.sun.com/jsf/core" 
        xmlns:c="http://java.sun.com/jsp/jstl/core"
        xmlns:o="http://omnifaces.org/ui"
        xmlns:p="http://primefaces.org/ui">

<h:head>
<f:facet name="first">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</f:facet>

<noscript>
<meta http-equiv="refresh" content="0; URL=nojavascript.xhtml" />
</noscript>
<title>OSSE - Login</title>
    <o:conditionalComment if="lt IE 9">
        <h:outputScript library="js" name="html5shiv.min.js" />
        <h:outputScript library="js" name="respond.min.js" />
    </o:conditionalComment>

    <h:outputStylesheet name="osse.css" library="css"/>
    <h:outputStylesheet name="bootstrap.css" library="css"/>
    <h:outputStylesheet name="bootstrap-theme.css" library="css"/>
    <h:outputStylesheet name="slick.css" library="css"/>
    <h:outputStylesheet name="mixins_and_variables.css" library="css"/>
    <h:outputStylesheet name="nav.css" library="css"/>
    <h:outputStylesheet name="pages.css" library="css"/>
    <h:outputStylesheet name="media_queries.css" library="css"/>
    <h:outputStylesheet name="login.css" library="css" />
    <h:outputStylesheet name="buttons.css" library="css" />
    <h:outputStylesheet name="fonts.css" library="css" />

<h:outputScript target="body">

javascript:window.history.forward(1);

</h:outputScript>


</h:head>

<f:event type="preRenderView" listener="#{sessionBean.logout()}" />

<h:body styleClass="gradientBackground">

    <h:panelGroup layout="block" id="page-wrapper" styleClass="fadein">

        <h:panelGroup layout="block" styleClass="formContainer col-md-4 col-md-offset-4 col-lg-3 col-lg-offset-4">
            <h:panelGroup layout="block" styleClass="form-signin">
                    <h:form id="language_form">
                <h3 class="form-signin-heading">
                    Login
                    <h:panelGroup layout="block" id="logo" styleClass="pull-right" style="float: right; position: relative; top: -0.3em;">
                    
                    <ui:fragment rendered="#{false and applicationBean.supportedLocales.size() > 1}">
                    <ui:repeat value="#{applicationBean.supportedLocales}" var="locale">
                        <h:commandLink action="#{sessionBean.changeLanguage(locale)}"  >
                            <h:graphicImage alt="#{locale}" id="flag_#{locale}" library="images" name="flags/#{locale}.png" width="24" height="18" style="border:0;"/>
                        </h:commandLink>&nbsp;
                    </ui:repeat>
                    </ui:fragment>		                
                    </h:panelGroup>
                </h3>
                    </h:form>

                <h:form id="loginform">
                <p:focus context="loginform" />
                <p:growl id="growl" showDetail="true" sticky="false" /> 
                    <h:inputText required="false" requiredMessage="#{msg.missingusername}" validator="LoginValidator" id="loginUsernameInput" value="#{sessionBean.entries['username']}" styleClass="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all form-control">
                    </h:inputText>
                    <p:watermark for="loginUsernameInput" value="#{msg.username}" />
                    
                    <h:inputSecret required="false" requiredMessage="#{msg.missingpassword}" id="loginPasswordInput" value="#{sessionBean.entries['password']}" styleClass="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all form-control">
                    </h:inputSecret>
                    <p:watermark for="loginPasswordInput" value="#{msg.password}" />
                        
                    <h:commandButton id="command" action="#{sessionBean.login}" value="#{msg.login}" styleClass="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn btn-lg btn-primary btn-block" style="padding: 10px 16px !important; box-shadow: none;"/>
                </h:form>
                
                <h:panelGroup layout="block" id="version" styleClass="pull-right" style="float: right; position: relative; top: -0.3em;">
                    <small>OSSE <h:outputText rendered="#{applicationBean.isBridgehead()}" value="Bridgehead" /> #{applicationBean.getOSSEVersion()}</small> 
                </h:panelGroup>
            </h:panelGroup>

<ui:remove>
            <div class="form-signin-bottom">
            <h:form>
                <h:commandLink action="#{sessionBean.goForgotPassword()}" value="#{msg.forgotpassword}" styleClass="btn btn-default"/>
            </h:form>
            </div>
</ui:remove>
        </h:panelGroup>
    </h:panelGroup>
</h:body>
</html>